.header {
  display: flex;
  padding: 32px 0 28px;
  font-weight: 700;
  align-items: center;
}

.header__link {
  text-decoration: none;
  color: #000000;
}

.header__logo {
  margin-right: 24px;
}
.header__data-and-location {
  margin: 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__add-button {
  margin-right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__container {
  display: flex;
  align-items: center;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "CabinetGrotesk-Bold", sans-serif;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.header__button:last-child {
  margin-left: 20px;
}
